// react-tralendar style file
// ----------------------------------------------------------------------
// 
// This SCSS file can be used as a dependency to style the calendar.
// IMPORTANT NOTICE: This styles need important work, since the alignments
// are done with ems and I'm not specially proud of them.
//
// Dependencies:
//
// * These mixins should be defined:
//
//   not-selectable()
// 
// * These variables also need to be defined:
//
//   $color-month-header ....... color of month headers.
//   $color-day-text ........... color of active days.
//   $color-day-hover-text ..... color of the text when the mouse is over.
//   $color-day-hover-bg ....... color of the background when the mouse is over.
//   $color-day-hover-border ... color of the border when the mouse is over.
//   $color-day-chosen-text .... color of the text when the day is chosen.
//   $color-day-chosen-bg ...... color of the background the day is chosen.
//   $color-day-chosen-border .. color of the border when the day is chosen.
//   $font-family-regular .. font face for regular text.
//   $font-family-light .... font face for light text.
//
// IMPORTANT NOTICE:
// This stylesheet has been prepared for a:
// $base-font-size: 20px !default;
// ($base-font-size is a Susy variable and MUST be defined)


ol.tralendar {

  @include not-selectable();

  position: relative;

  // The idea was also using Susy spans for other
  // alignments but as you will see, it's not done like that.
  padding-left: span(1 of 9);
  padding-right: span(1 of 9);

  li {

    position: relative;

    h1.monthname {
      padding-top: 1em;
      font-family: $font-family-regular;
      color: $color-month-header;
    }

    ol {

      position: relative;
      display: table;

      font-family: $font-family-light;

      // Day base styling
      li {

        @include not-selectable();

        cursor:      pointer;

        line-height: 2em;
        text-align:  center;
        overflow:    hidden;

        float:       left;
        clear:       none;
        width:       2em;
        height:      2em;
        margin:      0.14em;

        @include font-size(31px);

        border-radius: 50%;
        color: $color-day-text;
        border: solid 0.05em transparent;
        border-radius: 50%;
      }

      // Ensure line break at the end of the week
      li:nth-of-type(7n+1) {
        clear: left;
      }

      // Hover effect
      li:not(.disabled):not(.blank):not(.chosen):hover {
        color: $color-day-hover-text;
        background-color: $color-day-hover-bg;
        border: solid 0.05em $color-day-hover-border;
      }

      // Inactive day
      li.blank    {
        cursor: default;
        color: transparent;
        background-color: none;
      }

      // Disabled day
      li.disabled {
        opacity: 0.3;
        cursor: default;
      }

      // Chosen day
      li.chosen {
        color: $color-day-chosen-text;
        background-color: $color-day-chosen-bg;
        border: solid 0.05em $color-day-chosen-border;
      }
    }
  }
}