// react-result-list style file
// ----------------------------------------------------------------------
// 
// This SCSS file can be used as a dependency to style the result list.
// It consists on a 10 column Susy grid. 2 columns go for padding, left and
// right and two other columns hold the icons of each item. Thus, 6 columns
// are left for the text.
//
// Dependencies:
//
// * Requires Susy and Andy.
// 
//   Designed to work inside a container, so the div cointaining
//   it should have '@include container(40em)'. The size of the
//   container can be changed.
//
// * These mixins should be defined:
//
//   not-selectable()
// 
// * These variables also need to be defined:
//
//   $color-bg-results ..... background color of the result list.
//   $color-text-main ...... the color of the main text.
//   $color-text-dim ....... color of secondary content.
//   $font-family-regular .. font face for regular text.
//   $font-family-light .... font face for light text.
//
// IMPORTANT NOTICE:
// This stylesheet has been prepared for a:
// $base-font-size: 20px !default;
// ($base-font-size is a Susy variable and MUST be defined)


ol.resultList {

  @include not-selectable();
  position: relative;
  padding-left: span(1 of 10);
  padding-right: span(1 of 10);  

  li {
    position: relative;

    p.dateTag {
      // Is it a good idea to use em here????
      padding-top: 1.5em;
      color: $color-text-dim;
      @include font-size(20px);
      font-family: $font-family-regular; 
    }
  }
}


ol.serviceOccurrenceList {
  position: relative;
  padding-top: 2em; // TODO: Is it a good idea to use em here????

  li.so {
    padding-bottom: 2em; // TODO: Is it a good idea to use em here????

    img.icon {
      position: absolute;
      width: span(1.4 of 8);
      border: 1px solid white;
      border-radius: 50%;
    }

    div.content {
      position: relative;
      left: span(2 of 8);
      width: span(6 of 8);

      h1 {
        @include font-size(30px);
        @include line-height(45);
        font-family: $font-family-regular;
        text-align: right;

        span.time {
          position: absolute;
          left: 0;
          color: $color-text-main;
          background-color: $color-bg-results;
        }

        span.experience {
          color: $color-text-dim;
        }
      }
    }
  }
}

div.arrivalList {
  @include font-size(22px);
  @include line-height(32);

  span.time {
    color: $color-text-main;
    font-family: $font-family-light;
    padding-right: 0.6em;
  }

  span.place {
    color: $color-text-main;
    font-family: $font-family-regular;
  }

  span.price {
    position: absolute;
    right: 0;
    color: $color-text-dim;
    font-family: $font-family-light;
  }

  p.extra {
    @include font-size(18px);
    @include line-height(28);
    color: $color-text-dim;
    font-family: $font-family-light;
  }
}
